*, *::before, *::after {
    box-sizing: border-box;
  }

:root {
    box-sizing: border-box;
    font-family: proxima-nova-soft, "Proxima Nova Soft", Helvetica, Arial, sans-serif;
    margin:0px;
    
}

body {
    margin: 0px;
}

h1{
    font-size: 2.25rem;
    margin: 0 auto;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-style: italic;
}

div>div>h2 {
    text-transform: uppercase
}

header {
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    padding: 15px;
    width: 100%;
    background-color: #032535;
    z-index: 999;
    text-align: center;
    /* border: 2px solid red; */

}

.container {
    margin: 0 auto;
    width: 70%;
    
    
}


.nav_list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}



.nav-item {
    margin-right: 3em;
}


.nav-item--push-right {
    margin-left: auto;
}


.nav-link {
    text-decoration: none;
    color: white;
    margin-top: auto;
}


#header-img {
    width: 100%;
    max-width: 200px;
    
}


li {
    margin: auto 0;
}


.cta-section {
    margin-bottom: 0;
    text-align: center;   
}


div>p {
    margin: 0 auto;
    width: 50%;
    min-width: 320px;
    padding: 20px;
    font-style: italic;
}




.col_one {
    background-color: #ffb515;
}
.col_two {
    background-color: #ff9a00;
}
.col_three {
    background-color: #ff5700;
}
.col_four {
    background-color: #da4302;
}


form {
    margin:60px 0 0 0;
    padding: 120px 0;
}

input {
    height: 30px;
    margin-top: 20px;
    border: 0;
    border-radius: 5px;
    font-size:1.2rem;

}
#submit {
    background-color: #31A4EF;
    width: 174px;
    color: white;
    font-size:1.25rem;
    font-weight: 900px;
    
}

#courses {
    width:100%;
    text-align: center;
    display: flex;
    justify-content: space-between;

}

.course {
    width: 300px;
    margin: 20px;
    border: 2px solid black;
    border-radius: 10px;
    padding-bottom: 30px;
}

#video {
    display: flex;
    margin: 0 auto;
    width: 100%;
    max-width: 560px;
    

}

@media (max-width: 940px){
    #courses {
        margin: auto;
        width: 50%;
        min-width: 300px;
        display: flex;
        flex-direction: column;
    }
}

ul {
    list-style: none;
    text-align: center;
    padding-left: 0px;
}
.course>ul>li{
    width: 100%;
}

.row {
    padding-bottom: 0;
    margin:0 50 px;
    display: flex;
    flex-direction: coloumn;
}

.column {
    padding-left: 50px;
}
.column>p {
    margin: 0;
    margin-top: 5px;
    padding: 0;
    width: 100%;
}
.column>h2 {
    margin: 0;
}

svg {
    width: 20%;
    min-width: 100px;
    margin-bottom: 8px;
}

@media (max-width: 940px){
    .row {
        display: flex;
        flex-direction: column;
        padding-bottom: 20px;
    }
    svg {
        display: flex;
        margin: auto;
        width: 100%;
    }


}




#main {
    margin: 0px auto;
    width: 100%;
    min-width: 200px;    
}

.col_two>.container {
    padding: 50px 0 30px 0;
}
.col_three>.container {
    padding: 50px 0 50px 0;
}
.col_four>.container {
    padding: 50px 0 50px 0;
}


