:root {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    background-color: #b8b5c4;

}

h1{
    font-size: 2.25rem;
}
p {
    
}

header {
    background-color:#D92c5a;
    
    padding: 1em;
}

.container {
    margin: 0 auto;
    width: 70%;
    max-width: 1180px;
}



.nav_list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;


}


.nav-item {
    margin-right: 3em;
    
    
}

.nav-item--push-right {
    margin-left: auto;
}

.nav-link {
    text-decoration: none;
    color: black;
    margin-top: auto;
    

}

#header-img {
    width: 100%;
    max-width: 140px;
    
}

li {
    margin: auto 0;
}

.cta-section {
    margin-bottom: 0;
    text-align: center;
    
}

div>p {
    margin: 0 auto;
    width: 50%;
    min-width: 320px;
    padding: 20px;
}





